<div class="listings-category-wrapper">

  <div class="categories-wrapper">
    <h2>Select category of interest</h2>

    <a href="/categories/education">
      <div class="category-card">
        <h2>Education</h2>
        <img src="http://www.uncfsu.edu/images/GraduatePrograms/education-11.jpg" alt="">
      </div>
    </a>

    <a href="/categories/recreation">
      <div class="category-card">
        <h2>Recreation</h2>
        <img src="http://www.emerycounty.com/rec/recreation.JPG" alt="">
      </div>
    </a>

    <a href="/categories/miscellaneous">
      <div class="category-card">
        <h2>Miscellaneous</h2>
        <img src="https://zwingliusredivivus.files.wordpress.com/2012/04/miscellaneous.jpg" alt="">
      </div>
    </a>
  </div>

  <div class="trending">
    <h2>Trending</h2>

  </div>

</div>
