<div class="header">
  <h1><%= @listing.name %></h1>

</div>
<div class="space"></div>
<div class="content">

<div class="purchase">
  <h5 href="">Purchase <%= @listing.name %> TimeTicket</h5>
</div>


</div>
