
<div class="wrapper">
  <section class="home-top">

    <div class="home-top-center">
      <h2>Expert Freelancers</h2>

    </div>

    <div class="home-top-bottom">
      <a href="/users/new">Sign Up</a>
      <a href="/session/new">Log In</a>
    </div>
  </section>

  <section class="home-middle">
    <div class="home-middle-left">
      <div class="js-logo">
        <div class="js-heading">
          <h3>Trending</h5>
        </div>
      </div>

    </div>

    <div class="home-middle-right">
      <h2>Buy Time Tickets</h2>
      <p>Sign up to purchase time tickets to attend classes taught by experts in your field of interest.</p>

      <h2>Create Time Tickets</h2>
      <p>Get paid to share your knowledge in your field of expertise.</p>

      <h2>Real life interactive lessons</h2>
      <p>Search what lessons are available in your city and choose between private or class lessons.</p>
    </div>

  </section>

  <footer>
    <h2>Share the knowledge and join us</h2>
    <a href="users/new">Sign Up</a>
  </footer>

</div>
