
<h1>Time Ticket</h1>
<hr>
<div class="reservation-links">
  <ul>
    <li><a href="#">Your Reservations</a></li>
    <li><a href="#">Reservation 1:</a></li>
  </ul>
</div>

<div class="reservation-show">
  <ul>
    <li>Your Listings/li>
    <li>Listing 1:</li>
    <li>Listing 2:</li>
  </ul>

  <div class="listings">

  </div>
</div>
