$header-font: 'Share tech mono', sans-serif;
$font-stack: 'Nunito', sans-serif;
$primary-color: #373a3c;
$secondary-color: #5bc0de;

body {
  width: 100%;
  padding-top: 4em;
}

.wrapper {
  width: 94%;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.wrapper2 {
  margin: 2em auto;
}

a.navbar-brand {
  padding: .4em;
}

nav button.btn {
  border: none;
  width: 100%;
  text-align: left;
}

#logo {
  margin: 0;
  font-family: $header-font;
  font-size: 1.4em;
}

.container {
  font-family: $font-stack;
}

.bg-wrapper {
  font-family: $font-stack;
  margin-top: -1em;
  position: relative;
  z-index:-1;
}

.home-top-center {
  font-family: $font-stack;
  margin-top: -40em;
  color: white;
  top: 0;
  padding: 8em;
  h2 {
    font-size: 40px;
    text-align: center;
  }
}

// .ui .search {
//   margin-top: -6em;
//
// }

.col-lg-6 {
  width: 70%;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 12em;
}

.form-wrapper {
  margin: 3em;
}

.form-header {
  margin: 2em;
}

.signup-h1 {
  text-align: center;
  font-family: $font-stack;
  font-size: 2em;
  color: inherit;
}

.form-wrapper h2 {
  font-family: $font-stack;
  text-align: center;
}

.user-forms {
  width: 20em;
  margin: 0 auto;
}

.user-forms input {
  display: block;
  padding: 20px;
  border: none;
  width: 100%;
  margin: 10px 0px;
  border-bottom: 2px solid #2aabd2;
  font-family: $font-stack;
}
.user-forms button {
  display: block;
  margin: 1em auto;
  border: $primary-color;
  border-radius: 2px;
  color: #fff;
  background-color: $secondary-color;
  padding: 18px;
  width: 200px;
  font-size: 1.4em;
  font-family: $font-stack;
}

.user-forms button:hover {
  background-color: #31b0d5;
  color: #fff;
  border: 2px solid #2aabd2;
}

.content button {
  display: block;
  margin: 1em auto;
  border: $primary-color;
  border-radius: 2px;
  color: #fff;
  background-color: $secondary-color;
  padding: 18px;
  width: 200px;
  font-size: 1.4em;
  font-family: $font-stack;
}

.content button:hover {
  background-color: #31b0d5;
  color: #fff;
  border: 2px solid #2aabd2;
}

.home-top-bottom {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.btn-join {
  display: inline-block;
}

.btn-login {
  display: inline-block;
}

.dropdown-menu {
  width: 10em;
  margin: 0 auto;
  position: absolute;
  right: 0;
  margin-right: 5px;
}

.dropdown-menu a {
  display: block;
  padding: 20px;
  border: none;
  width: 100%;
  background-color: $secondary-color;
}

.danger {
  font-size: .7em;
  color: red;
}

.alert {
  position: fixed;
  width: 60%;
  margin: 0 20%;
}
.alert-danger{
  background-color: rgba(246, 153, 153, 0.6);
}
.alert-success{
  background-color:  rgba(227,242,253, 0.8);
}

.cards-wrapper h2 {
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.home-middle-right h2,{
  text-align: center;
  font-size: 1.4em;
  padding: 0.4em;
}

.home-middle-right p {
  text-align: center;
}

.listings-category-wrapper {
  margin: 0 auto;
  text-align: center;
  h2 {
    font-family: $font-stack;
    font-size: 2em;
    padding: 0.4em;
  }
}
.categories-wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 2em;
  button {
    display: block;
    margin: 1em auto;
    border: $primary-color;
    border-radius: 2px;
    color: #fff;
    background-color: $secondary-color;
    padding: 18px;
    width: 200px;
    font-size: 1.4em;
    font-family: $font-stack;
    text-align: center;
    margin-left: 2em;
    float: left;
  }
  button:hover {
    background-color: #31b0d5;
    color: #fff;
    border: 2px solid #2aabd2;
  }
}

.purchase h3 {
  font-size: 1.2em;
}

.avatar-img {
  text-align: center;
  padding: 1em;
  font-size: 2em;
  margin-bottom: -2em;
}

footer {
  text-align: center;
  background-color: #e3f2fd;
  margin-bottom: 0;
  bottom:0;
  padding-bottom: 0;
}

footer h2 {
  font-size: 1.4em;
  padding-top: 1em;
}

footer button {
  display: block;
  margin: 1em auto;
  border: $primary-color;
  border-radius: 2px;
  color: #fff;
  background-color: $secondary-color;
  padding: 18px;
  width: 200px;
  font-size: 1.4em;
  font-family: $font-stack;
  text-align: center;
}

footer button:hover {
  background-color: #31b0d5;
  color: #fff;
  border: 2px solid #2aabd2;
}
